<div class="rectangle shopping-cart">
    <h2 class="title">Carrito</h2>
    <div class="scrollable-table">
        <table>
            <tbody>
                <tr *ngFor="let product of shopping_cart.products">
                    <td>
                        <div class="containerInfo">
                            <div class="containerInfo-a">
                                {{ product.name }}
                                <mat-icon class='icon-info' (click)="doSomething()">info</mat-icon>
                            </div>
                            {{ product.total_price | currency:'COP':'symbol' }}
                        </div>
                    </td>
                    <td>
                        <span class=" span">
                            <mat-icon class='icon-remove' (click)="doSomething()">remove_circle_outline</mat-icon>
                            {{ product.quantity }}
                            <mat-icon class='icon-add' (click)="doSomething()">add_circle</mat-icon>
                            <mat-icon class='icon-add-cart' (click)="doSomething()">add_shopping_cart</mat-icon>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5>Total descuento: <u>{{formatNumberWithCommas(shopping_cart.total_discount)}} COP</u></h5>
    <h3>Total: <u>{{formatNumberWithCommas(shopping_cart.total_price)}} COP</u></h3>
    <div class="buttons">
        <div class="button">
            <mat-icon fontIcon="delete"></mat-icon>
            <p>Limpiar carrito</p>
        </div>
        <div class="button">
            <mat-icon fontIcon="payments"></mat-icon>
            <p>Finalizar compra</p>
        </div>
    </div>
</div>