#app {
  height: 100%;
  background-image: url("../assets/background.png"); /* Adjust the path based on your file structure */
  background-size: cover;
  background-position: center;
}

#fullpage {
  height: calc(100% - 100px);
  overflow: scroll;
  display: flex;
  justify-content: center;
}
