.catalog {
  padding: 20px;
  height: calc(100% - 80px);
  overflow: scroll;
}

.scrollable-table {
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 10px;

  text-align: left;
  border-bottom: 1px solid;
}

button {
  margin-right: 5px;
}
.containerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-center;
  align-items: flex-start;
  text-align: start;
  margin-right: 18rem;
}
.containerInfo-a {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
}

.icon-info {
  margin-left: 10px;
}

.icon-info:hover {
  cursor: pointer;
}

.icon-add {
  margin-left: 10px;
}

.icon-add:hover {
  cursor: pointer;
}

.icon-remove {
  margin-right: 10px;
}

.icon-remove:hover {
  cursor: pointer;
}

.icon-add-cart {
  margin-left: 20px;
}

.icon-add-cart:hover {
  cursor: pointer;
}
.span {
  display: flex;
  justify-content: center;
  align-items: center;
}
